/*
  SnowUI 设计系统 CSS - Themes 模块
  包含主题定义（字体、圆角、间距组合）
*/

/* === SnowUI Dark 主题 === */
.theme-snowui-dark:root {
    --black-100: #FFFFFFFF;
    --black-80: #FFFFFFCC;
    --black-40: #FFFFFF66;
    --black-20: #FFFFFF33;
    --black-10: #FFFFFF26;
    --black-4: #FFFFFF1A;
    --white-100: #000000FF;
    --white-80: #000000CC;
    --white-40: #00000066;
    --white-20: #00000033;
    --white-10: #0000001A;
    --white-4: #0000000A;
    --background-1: #333333FF;
    --background-2: #FFFFFF0A;
    --background-3: #0000001A;
    --background-6: #404040E5;
    --primary: var(--secondary-indigo);
    --logo-2: #EDEDFFFF;
}

/* === iOS Light 主题 === */
.theme-ios-light:root {
    --background-1: #F5F5F6FF;
    --background-2: #FFFFFFFF;
    --background-3: #00000008;
    --background-4: #00000005;
    --background-5: #FFFFFFFF;
    --secondary-purple: #AF52DEFF;
    --secondary-indigo: #5856D6FF;
    --secondary-blue: #007AFFFF;
    --secondary-cyan: #32ADE6FF;
    --secondary-mint: #00C7BEFF;
    --secondary-green: #34C759FF;
    --secondary-orange: #FF9500FF;
    --secondary-red: #FF3B30FF;
    --primary: var(--secondary-blue);
    --logo-1: var(--primary);
}

/* === iOS Dark 主题 === */
.theme-ios-dark:root {
    --black-100: #FFFFFFFF;
    --black-80: #FFFFFFCC;
    --black-40: #FFFFFF66;
    --black-20: #FFFFFF33;
    --black-10: #FFFFFF26;
    --black-4: #FFFFFF1A;
    --white-100: #000000FF;
    --white-80: #000000CC;
    --white-40: #00000066;
    --white-20: #00000033;
    --white-10: #0000001A;
    --white-4: #0000000A;
    --background-1: #333333FF;
    --background-2: #FFFFFF0A;
    --background-3: #0000001A;
    --background-4: #0000001A;
    --background-5: #FFFFFFCC;
    --background-6: #404040E5;
    --secondary-purple: #BF5AF2FF;
    --secondary-indigo: #5E5CE6FF;
    --secondary-blue: #0A84FFFF;
    --secondary-cyan: #64D2FFFF;
    --secondary-mint: #63E6E2FF;
    --secondary-green: #30D158FF;
    --secondary-yellow: #FFD60AFF;
    --secondary-orange: #FF9F0AFF;
    --secondary-red: #FF453AFF;
    --primary: var(--secondary-blue);
    --logo-1: var(--primary);
    --logo-2: #EDEDFFFF;
}